<table
role="presentation"
border="0"
cellpadding="0"
cellspacing="0"
width="100%"
>
<tr>
<td valign="top" class="" style="padding: 1em 2.5em 0 2.5em">

    <img
      src="logo.png"
      style="margin-left: -2%; width: 35%; height: auto"
      alt=""
    />
  </td>
</tr>
</table>